


<div class="hmsplit left"> 

<div class="box welcome">
<h1>Manage Your Workouts</h1>
</div>
<div class="box hmdetails">

<h2>Workouts you've created</h2>

<ul>
<%@priv_workouts.each do |workout|%>
    <li> <%= link_to  workout.name, "/workoutexercises/#{workout.id}"%> <%= link_to "(delete)", delete_workout_path(id: workout.id) %> <br/>
    <%= workout.list_exercises%> 
    </li>
<%end%> 
<ul> 
</div>
</div>


<div class="hmsplit right"> 

<div class="box hmdetails">
<h2>Public Workouts</h2>

<ul>
<%@pub_workouts.each do |workout|%> 
    <li> <%=workout.name%> <br/>
    <%= workout.list_exercises%> 
    </li>
<%end%>
<ul> 
</div>

</div>
