<div class="box welcome">
<h1>Create a new training routine! </h1>
</div>


<div class="box hmdetails">

<%=form_for @workout, url: '/workouts', method: :post do |f| %>

    <div class="nwtrcontainer"> 
        <div class="nwtrbox-cell box1">
        <%=f.label :name %> <br/>
        <%=f.text_field :name, placeholder: "routine name" %>
        </div>
        <div class="nwtrbox-cell box2">
        <%=f.label :description %> <br/>
        <%=f.text_field :description, size: 75, placeholder: "short description" %>
        </div>
    </div>

    <div class="nwtrexercises"> 
    Configure the exercises in your workout <br/><br/>

    <%=f.fields_for :workoutexercises, @workout.workoutexercises.build do |e| %>
        <%=e.collection_select :exercise_id, @exercises, :id, :name, {include_blank: 'Select Exercise'}%> 
        Reps: <%=e.number_field :reps %>, 
        Sets: <%=e.number_field :sets %>, 
        Duration: <%=e.number_field :duration %> <br/>
    <%end%> 

    <%=f.fields_for :workoutexercises, @workout.workoutexercises.build do |e| %>
        <%=e.collection_select :exercise_id, @exercises, :id, :name, {include_blank: 'Select Exercise'}%> 
        Reps: <%=e.number_field :reps %>, 
        Sets: <%=e.number_field :sets %>, 
        Duration: <%=e.number_field :duration %> <br/>
    <%end%> 

    <%=f.fields_for :workoutexercises, @workout.workoutexercises.build do |e| %>
        <%=e.collection_select :exercise_id, @exercises, :id, :name, {include_blank: 'Select Exercise'}%> 
        Reps: <%=e.number_field :reps %>, 
        Sets: <%=e.number_field :sets %>, 
        Duration: <%=e.number_field :duration %> <br/>
    <%end%> 

    <%=f.fields_for :workoutexercises, @workout.workoutexercises.build do |e| %>
        <%=e.collection_select :exercise_id, @exercises, :id, :name, {include_blank: 'Select Exercise'}%> 
        Reps: <%=e.number_field :reps %>, 
        Sets: <%=e.number_field :sets %>, 
        Duration: <%=e.number_field :duration %> <br/>
    <%end%> 

    <%=f.fields_for :workoutexercises, @workout.workoutexercises.build do |e| %>
        <%=e.collection_select :exercise_id, @exercises, :id, :name, {include_blank: 'Select Exercise'}%> 
        Reps: <%=e.number_field :reps %>, 
        Sets: <%=e.number_field :sets %>, 
        Duration: <%=e.number_field :duration %> <br/>
    <%end%> 
    <%=f.fields_for :workoutexercises, @workout.workoutexercises.build do |e| %>
        <%=e.collection_select :exercise_id, @exercises, :id, :name, {include_blank: 'Select Exercise'}%> 
        Reps: <%=e.number_field :reps %>, 
        Sets: <%=e.number_field :sets %>, 
        Duration: <%=e.number_field :duration %> <br/>
    <%end%> 
    <br/> <br/>
    <%=f.submit%> 

    </div>

<h3> Change Workout Order </h3>
<h5>
<%= form_with(url: "/sessionworkouts", method: "patch") do %> 
    <%= hidden_field(:sesh, :id) %> 
    <% @sesh_workouts.each{ |sesh_wkt|%>
        <%= label_tag(:sesh_wkt, "#{sesh_wkt.workout.name}") %>
        <%= number_field(:sesh_wkt) %>
        <br>
    <% } %>
    <%= submit_tag("Update Order") %>
<% end %>

</h5>

<%end%>
</div>