
<div class="hmsplit left">

<div class="box welcome">

<h1>Congratulations!</h1>
 <p style='text-align: center; color: white'><%=@user.sum_past_sesh_duration%><br/>
 spent working out so far</p>
</div>

<div class="box hmdetails">

<% if @user.past_seshes %>
<h2>Past sessions: </h2>
<ul>
  <%@user.past_seshes.each do |sesh| %>
      <li> 
      <span class="bold"> <%=sesh.time.strftime("%B %d %Y at %H:%M")%></span>
      <span style="float: right"> 
      <%=link_to "DELETE", delete_sesh_path(sesh), class: "link delete"  %> 
      </span> 
      <br/>Goal: <%=sesh.trim_goals%>
      <br/>Workouts: <%=sesh.workouts_list%> 
      </li>
  <%end%>
</ul>
<%end%>
</div> 

</div>
<div class="hmsplit right">

<div class="box hmdetails log">

<span style="color: #4155A2">
<%=@user.most_popular_workout_num%>
</span>

<span style="float: right;">
<%=@user.most_popular_workouts%> 
</span>

</div>

</div>
