<div class="hmsplit left">

<div class="box welcome">
<h1> Edit exercise </h1>
</div>

<div class="box hmdetails">
<% if flash[:message] %>
<ul>
    <%flash[:message].each do |message| %>
    <li style="color: red"><%=message%></li> 
    <%end%>
</ul> 
<%end%> 
<%=form_for @workoutexercise, url: '/workoutexercises', method: :patch do |f| %>
    <%= f.hidden_field :id , value: @workoutexercise.id %> 
  <table> 
  <tr>
  <td> <%=f.label :reps%> </td>
  <td> <%=f.text_field :reps%> </td> 
  </tr>
  <tr>
  <td> <%=f.label :sets%> </td> 
  <td> <%=f.text_field :sets%> </td> 
  </tr>
  <tr>
  <td> <%=f.label :duration%> </td> 
  <td> <%=f.text_field :duration%> </td> 
  </tr>
  <td> </td> <td> <%=f.submit "Update Exercise"%> </td> 
  <table>
<%end%>

</div>
</div>