
<div class="hmsplit left">


<div class="box welcome">
<h1>Manage Your Exercises</h1>
</div>


<div class="box hmdetails">
<h2>Personal Exercises</h2> 
<ul>
    <%@priv_exercises.each do |ex| %>
        <li>
        <span class="bold"> <%=ex.name%></span> 
        <span style="float: right"> 
        <%=link_to "EDIT", edit_ex_path(id: ex.id), class: "link edit"%> 
        <%=link_to "DELETE", delete_exercise_path(id: ex.id), class: "link delete"%>
        </span> 
        <br/> <span style="color:#224A20">Category: <%=ex.exercisecat.name%></span>
        </li>
    <%end%>
</ul>
</div>

</div>


<div class="hmsplit right">

<div class="box hmdetails">

<h2>Add a new exercise</h2>

<%if flash[:message]%>
    <ul> <%flash[:message].each do |error| %> 
        <li style="color: red"> <%=error%> 
        </li>
        <%end%> 
    </ul>
<%end%> 

<%=form_for @exercise, url: '/exercises/create', method: :post do |f|%>
    <table width="100%"; padding="20px">
    <tr> 
     <td style="text-align:right">  <%=f.label :name%> </td>
        <td> <%=f.text_field :name%> </td>
    </tr>
    <tr>
     <td style="text-align:right">  <%=f.label :category%> </td>
    <td><%=f.collection_select :exercisecat_id, @exercisecats, :id, :name, {include_blank: 'New Category'} %> </td>
    </tr> 
    <tr>  
    <td style="text-align:right">  <%=f.label "Or add a new category"%> </td>
        <td> <%=f.text_field :exercisecat %> </td>
    </tr> 

    <tr><td> </td> <td><%=f.submit%></td></tr>
    </table>
<%end%>

</div>

<div class="box hmdetails">
<h2>Public Exercises</h2> 
<ul>
    <%@pub_exercises.each do |ex| %>
        <li> <%=ex.name%> (<%=ex.exercisecat.name%>)
        </li>
    <%end%>
</ul> 
</div>
</div>
