
<div class="hmsplit left">


<div class="box welcome">
<h1>Manage Your Exercises</h1>
</div>


<div class="box hmdetails">
<h2>Personal Exercises</h2> 
<ul style="padding-left: 50px">
    <%@priv_exercises.each do |ex| %>
        <li>
        <span class="bold"> <%=ex.name%></span> 
        <span style="float: right"> 
        <%=link_to "EDIT", edit_ex_path(id: ex.id), class: "link edit"%> 
        <%=link_to "DELETE", delete_exercise_path(id: ex.id), class: "link delete"%>
        </span> 
        <br/> <span style="color: black">Category: <%=ex.exercisecat.name%></span>
        </li>
    <%end%>
</ul>

<%if @priv_exercises == [] %> 
<div class="shaded">No exercises to display! </div><%end%> 

</div>

</div>


<div class="hmsplit right">

<div class="box hmdetails">

<h2>Add a new exercise</h2>

    <% if flash[:message] %>
    <div style="text-align: center; color: #E93F33; font-family: 'Montserrat Bold'">
        <%flash[:message].each do |message| %>
        <%=message%> <br/> 
        <%end%>
    </div> 
    <%end%> 

<%=form_for @exercise, url: '/exercises/create', method: :post do |f|%>
    <table width="100%"; padding="20px">
    <tr> 
     <td style="text-align:right">  <%=f.label :name%> </td>
        <td> <%=f.text_field :name%> </td>
    </tr>
    <tr>
     <td style="text-align:right">  <%=f.label :category%> </td>
    <td><%=f.collection_select :exercisecat_id, @exercisecats, :id, :name, {include_blank: 'New Category'} %> </td>
    </tr> 
    <tr>  
    <td style="text-align:right">  <%=f.label "Or Add New Category"%> </td>
        <td> <%=f.text_field :exercisecat %> </td>
    </tr> 

    <tr><td> </td> <td>    <%=f.submit "CREATE", class: 'button' %> 
</td></tr>
    </table>
<%end%>

</div>

<div class="box hmdetails">
<h2>Exercises Database</h2> 
<ul style="padding-left: 50px">
    <%@pub_exercises.sort_by{|ex| ex.name}.each do |ex| %>
        <li> 
        <span class="bold"> <%=ex.name%></span> 
        <br/> <span style="color: black">Category: <%=ex.exercisecat.name%></span>
        </li>
    <%end%>
</ul> 
</div>
</div>
