
<div class="hmsplit left">

<div class="box">
<h1>Personal Exercises</h1> 
<ul>
    <%@priv_exercises.each do |ex| %>
        <li> <%=ex.name%> (<%=ex.category%>) <br/>
        <%=link_to "(edit)", edit_ex_path(id: ex.id) %> 
        <%=link_to "(delete)", delete_exercise_path(id: ex.id) %>
        </li>
    <%end%>
</ul>
</div>

<div class="box">

Add a new exercise: 

<%if flash[:message]%>
    <ul> <%flash[:message].each do |error| %> 
        <li style="color: red"> <%=error%> 
        </li>
        <%end%> 
    </ul>
<%end%> 

<%=form_for @exercise, url: '/exercises/create', method: :post do |f|%>
    <%=f.label :name%>
    <%=f.text_field :name%><br/>
    <%=f.label :category%>
    <%=f.text_field :category%><br/>
    <%=f.submit%>
<%end%>

</div>

</div>
<div class="hmsplit right">

<div class="box">
<h1>Public Exercises</h1> 
<ul>
    <%@pub_exercises.each do |ex| %>
        <li> <%=ex.name%> (<%=ex.category%>) 
        </li>
    <%end%>
</ul> 
</div>
</div>
